[Desktop Entry]
Name=Software Center
Name[ca]=Centre de programari
Name[ca@valencia]=Centre de programari
Name[cs]=Centrum softwaru
Name[es]=Centro de software
Name[et]=Tarkvarakeskus
Name[it]=Software Center
Name[ko]=소프트웨어 센터
Name[lt]=Programinės įrangos centras
Name[nl]=Softwarecentrum
Name[pt]=Centro de Aplicações
Name[pt_BR]=Central de Aplicativos
Name[sk]=Softvérové centum
Name[sv]=Programvarucentral
Name[uk]=Центр програм
Name[x-test]=xxSoftware Centerxx
Name[zh_TW]=軟體中心
Comment=Lets you find software
Comment[ca]=Permet cercar programari
Comment[ca@valencia]=Permet cercar programari
Comment[cs]=Umožní vám hledat software
Comment[es]=Le ayuda a encontrar su software
Comment[et]=Võimaldab tarkvara otsida
Comment[it]=Ti consente di trovare i programmi
Comment[ko]=소프트웨어를 찾을 수 있습니다
Comment[lt]=Leidžia jums rasti programinę įrangą
Comment[nl]=Laat u software vinden
Comment[pt]=Permite-lhe procurar por aplicações
Comment[pt_BR]=Permite-lhe procurar por aplicativos
Comment[sk]=Umožní vám nájsť softvér
Comment[sv]=Låter dig hitta programvara
Comment[uk]=Допомагає вам шукати програми
Comment[x-test]=xxLets you find softwarexx
Comment[zh_TW]=讓您尋找軟體
Icon=applications-other
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=appstreamrunner
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@blue-systems.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
